section.navigation-menu
  nav.navigation-menu-personal-area
    ul.navigation-menu-personal-area__list
      li.navigation-menu-personal-area__list__item
        | личный кабинет
      li.navigation-menu-personal-area__list__item
        img(src="../../../image/mdi_account.svg", alt="личный кабинет")
      li.navigation-menu-personal-area__list__item
        img(src="../../../image/fa-solid_shopping-basket.svg", alt="личный кабинет")  
        
  include ../../templates/lists/navigation-menu-list.pug