header.header
  .header__inner
    include sidebar.pug
    include header-nav.pug
    .header-heading__container
      h1.header-heading
        |Видовой ресторан Food Exxe 
        |Relo на Крестовском острове
