nav.header-nav
  ul.header-nav__list
    li.header-nav__list-item
      a.header-nav__list-item__link(href="assets/pug/pages/deliver/deliver.html")
        | меню
    li.header-nav__list-item
      a.header-nav__list-item__link(href="#deliver")
        | Доставка 
    li.header-nav__list-item
      a.header-nav__list-item__link(href="#") 
        | Оплата
    li.header-nav__list-item
      a.header-nav__list-item__link.link-background.open-window(href="#") 
        | Бронь столика